*{
  font-family: monospace;
}
button
{
  background-color: rgb(15, 56, 168);
  border: none;
  border-radius: 5px;
  margin : 2px;
  width: 50%;
}
.ListTable
{
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}
.List
{
  margin : 7% 7% ;
  padding : 5% 5% ;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}
.ListTitle
{
  background-color: bisque;
  padding: 5px;
  border-radius: 5px;
}
.ListItem
{
  display: flex;
  background-color: rgb(223, 189, 255);
}
.ListTask
{
  border-style: solid;
  padding: 2px;
  border-radius: 5px;
}

